node_modules/
dist/
.vagrant/

*.log
gitstream-exercises/

# Omnivore key
gitstream.pem

# local settings (e.g. authentication secrets) that shouldn't be committed
settings*.js

package-lock.json
git-angler/package-lock.json