<div class="mainpage">
    <p>
    Welcome to GitStream, the fantastic system for Git time trials.

    <h2>Instructions</h2>

    <p>
      <ol>
        <li>Navigate to one of the exercises</li>
        <li>Run the commands (listed in blue) under the exercise title</li>
        <li>Follow the instructions that appear in your browser and terminal</li>
      </ol>
      If you run out of time, get yourself into trouble, or want to restart the exercise, just re-run the <code>go.sh</code> script and <em>everything</em> will be reset, fresh and ready to go!
    </p>

    <h2>Exercises</h2>
    <ol id="exerciseList">
      <li><a href="#createPushNewFile">Adding a new file to remote version control</a></li>
      <li><a href="#collabMerge">Merging a collaborator&apos;s work</a></li>
      <li><a href="#silentBadMerge">Silent but deadly merge conflicts</a></li>
    </ol>
</div>
