$stressColor: lighten(red, 13%);

.exercise-view {
    text-align: center;
    width: 100%;

    .exercise-title {
        text-align: center;
    }

    .clone-blurb {
        margin: 20px;
        text-align: center;
        white-space: nowrap;

        .clone-url {
            $borderColor: darken(blue, 15%);
            border-bottom: 1px solid $borderColor;
            border-top: 1px solid $borderColor;
            color: blue;
            padding: 8px 15px;
        }
    }

    .exercise-steps-container {
        margin: 15px auto auto auto;
        text-align: left;
        width: 85%;
    }

    .exercise-steps {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    $stepNumberDiam: 40px;
    .exercise-step {
        border-bottom: 1px solid gray;
        font-size: 1.3em;
        line-height: $stepNumberDiam;
        padding: 15px 20px;

        .step-number {
            border-radius: $stepNumberDiam;
            border: 2px solid grey;
            display: inline-block;
            height: $stepNumberDiam;
            margin-right: 10px;
            opacity: .4;
            text-align: center;
            width: $stepNumberDiam;
        }

        .step-desc {
            opacity: .4;
        }

        .feedback {
            line-height: 1em;
            margin: 0;
        }

        &.done {
            .step-number {
                background-color: gray;
                color: white;
                font-size: 1.2em;
            }

            &.focused {
                color: green;

                .step-number {
                    background-color: green;
                    border-color: green;
                    color: white;
                }
            }
        }

        &.focused {
            .step-number,.step-desc {
                opacity: 1;
            }
        }

        &.issue {
            .step-number {
                // border-color: red;
                // color: red;
            }
            .feedback {
                color: darken(red, 3%);
                transition: text-shadow 0.5s;

                &.flash {
                    text-shadow: 0 0 3px lighten(red, 10%);
                    transition: text-shadow 0s;
                }
            }
            .feedback {
                margin: 10px 0 0 0;
            }
        }

        &:last-of-type {
            border-bottom-width: 0;
        }
    }

    .timer-wrap {
        margin: 40px 0 0 0;
        text-align: center;
        width: 100%;

        .timer {
            background-color: lighten(gray, 33%);
            border-radius: 15px;
            color: gray;
            display: inline-block;
            font-size: 2.5em;
            min-width: 160px;
            padding: 15px;

            &.active {
                color: black;
            }

            &.stress {
                background-color: $stressColor;
                color: white;
            }

            &.dinged {
                animation: blink 1s steps(1);
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }
        }
    }
}

@keyframes blink {
    0% { color: white; }
    50% { color: $stressColor; }
}
