@import '../../node_modules/normalize.css/normalize.css';
@import 'exercise';
@import 'index';

@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url('/questrial.ttf') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/open_sans.woff') format('woff');
}


$bodyPaddingSides: 20px;
$bodyPaddingTop: 10px;

@mixin clearfix {
  clear: both;
  content: "";
  display: table;
}

body {
    background-color: #fcfcfc;
    font-family: 'Questrial', sans-serif;
    font-size: 1.2em;
    margin: 0;
    min-height: calc(100% - #{2*$bodyPaddingTop});
    padding: $bodyPaddingTop $bodyPaddingSides;
    position: absolute;
    width: calc(100% - #{2*$bodyPaddingSides});
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

a {
    $linkColor: blue;
    $linkVisitedColor: purple;
    &:link {
        color: $linkColor;
        &:active {
            color: $linkColor;
        }
    }
    &:visited {
        color: $linkVisitedColor;
        &:active {
            color: $linkVisitedColor;
        }
    }
}

.main-header {
    @include clearfix;
    width: 100%;
    .gitstream {
        clear: both;
        cursor: pointer;
        float: left;

        &:hover {
            color: lighten(black, 40%);
        }

        h1 {
            margin: 0;

            a {
                text-decoration: inherit;
                color: inherit;
            }
        }
    }
}

.page-footer {
    bottom: 3px;
    font-size: 90%;
    position: absolute;
    text-align: center;
    width: calc(100% - #{2*$bodyPaddingSides};

    * {
        color: gray !important;
        text-decoration: none;
    }
}

.main-content {
    margin: auto;
    max-width: 1300px;
    width: 92%;

    &.hide {
        display: none;
    }
}
